<ul>
  {{#each this}}
  {{#unless hidden}}
  <li class="navPage">
    {{#equals pageId @root.page.pageId}}
    {{#ifSpaMode}}
    <a class="active" href="{{@root.siteBasePath}}{{friendlyUrl}}"
      onclick="return replacePageContent('{{pageId}}', '{{@root.siteBasePath}}{{friendlyUrl}}')"
      data-mr-page-id="{{pageId}}">{{title}}</a>
    {{else}}
    <a class="active" href="" onclick="return false">{{title}}</a>
    {{/ifSpaMode}}
    {{else}}
    {{#ifSpaMode}}
    <a class="" href="{{@root.siteBasePath}}{{friendlyUrl}}"
      onclick="return replacePageContent('{{pageId}}', '{{@root.siteBasePath}}{{friendlyUrl}}')"
      data-mr-page-id="{{pageId}}">{{title}}</a>
    {{else}}
    <a class="" href="{{@root.siteBasePath}}{{friendlyUrl}}">{{title}}</a>
    {{/ifSpaMode}}
    {{/equals}}
    {{#if subPages}}
    {{> subPages subPages}}
    {{/if}}
  </li>
  {{/unless}}
  {{/each}}
</ul>
